body {
  font-family: 'Montserrat', sans-serif;
  // background-color: #f5f7fa;
  // background-image: url('../images/bgResume.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
}

p {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  // width: 280px;
  width: 100vw;
  background-color: #fff;
  margin: auto;
  // box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
// @media screen and (max-width: 400px) {
//   .main-container {
//     width: 1000px;
//   }
// }
@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
    width: 1300px;
    margin: 0 auto;
    // margin: 40px auto;
  }
}

/* Main content section */
.main-content-section {
  width: 100vw;
  padding: 0px 15px 15px 15px;
}

@media screen and (min-width: 768px) {
  .main-content-section {
    padding: 20px 50px 20px 50px;
  }
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
.my-name-section {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  // text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .my-name-section {
    opacity: 1;
    position: static;
    pointer-events: all;
    margin: 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
  }
}

.about-me-profession {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  // text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .about-me-profession {
    opacity: 1;
    position: static;
    pointer-events: all;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #000;
    // margin-left: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 2px 1px 3px rgba(148, 148, 148, 0.15), 1px 1px 2px rgba(10, 129, 184, 0.5);
  }
}

.about-me-profession-background {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000;
  // margin-left: 20px;
  margin-bottom: 30px;
  text-transform: none;
  text-shadow: none;
}

/* About me section */
.about-me-section {
  margin-bottom: 30px;
}

.about-me-description {
  // width: 485px;
  // height: 107px;
  // left: 498px;
  // top: 412px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

@media screen and (min-width: 768px) {
  .about-me-description {
    width: 850px;
    line-height: 24px;
  }
}
// @media screen and (max-width: 400px) {
//   .about-me-description {
//     width: 600px;
//   }
// }

/* My projects section */
.my-projects-section {
  margin: 26px 0 10px 0;
}
.my-projects-list {
  margin-top: 0px;
  padding: 0 0 0 17px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
  text-decoration: underline;
}
.my-projects-link:hover,
.my-projects-link.focus {
  color: rgb(10, 129, 184);
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: black;
  margin-left: 5px;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .my-projects-text {
    line-height: 24px;
  }
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*  My work experience section */
.my-work-experience-company-block {
  margin: 0 10px 0 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-bottom: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
  font-weight: bold;
}

.my-work-experience-duties {
  padding-left: 20px;
  margin-top: 5px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: black;
}

@media screen and (min-width: 768px) {
  .my-work-experience-duty {
    line-height: 24px;
  }
}

.my-work-experience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(10, 129, 184);
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

/* My education section */
.main-content-title {
  margin-bottom: 10px;
}
.my-education-section-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(10, 129, 184);
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
.my-education-section-specialization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
}
.my-education-section-rombsign {
  color: #000000;
  text-decoration: none;
}
.my-education-section-link {
  font-style: normal;
  // font-weight: bold;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: underline;
}
.my-education-section-dates {
  font-weight: normal;
  text-decoration: none;
  color: black;
}

/* Sidebar section */
.sidebar-section {
  position: relative;
  flex-direction: row;

  background-color: #1e2939;
  width: 100vw;
  height: 500px;
}
@media screen and (min-width: 768px) {
  .sidebar-section {
    flex-direction: column;
    align-items: start;
    justify-content: initial;
    width: 100vw;
    padding: 20px 0 0 0;
    height: auto;
  }
}

.photo {
  display: block;
  border-radius: 35px;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .photo {
    width: 280px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-section {
  margin: 20px 20px 0 20px;
}

.sidebar-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .sidebar-section-title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
  }
}

/* Contacts section */
@media screen and (min-width: 768px) {
  .contacts-section {
    padding: 0 10px 0 15px;
  }
}
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
  color: #fff;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #b8b8b8;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.contacts-section-underlined-link {
  text-decoration: underline;
}

.contacts-section-link-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #b8b8b8;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.contacts-section-link:hover,
.contacts-section-link:focus {
  color: rgb(10, 129, 184);
}
.contacts-section-link-email:hover,
.contacts-section-link-email:focus {
  color: rgb(10, 129, 184);
}

.kiev {
  margin: 0;
}

// ======================================
/* SKILLS section */

/* Tech-Skills section */
.tech-skills-section {
  margin: 20px 0 0 20px;
}
@media screen and (min-width: 768px) {
  .tech-skills-section {
    margin: 20px 0 0 30px;
  }
}
.tech-skills-list {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .tech-skills-list {
    margin: 0 0 0 0px;
    padding: 0 0 0 30px;
    opacity: 1;
    pointer-events: all;
  }
}
.tech-skills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgb(10, 129, 184);
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.skills-symbols img {
  margin-right: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .skills-symbols img {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

// .skills-symbols {
//   margin: 10px 0 0 30px;
// }
// @media screen and (min-width: 768px) {
//   .skills-symbols {
//     margin: 20px 0 0 40px;
//   }
// }

/* Soft-Skills section */
.language-skills-section,
.soft-skills-section {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .language-skills-section,
  .soft-skills-section {
    margin: 20px 0 0 40px;
    opacity: 1;
    pointer-events: all;
  }
}

.soft-skills-list {
  padding: 0 0 0 17px;
}

.soft-skills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgb(10, 129, 184);
}

.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.contacts__icon {
  margin-right: 10px;
  fill: rgb(10, 129, 184);
}

// .contacts__link-tel {
//   display: inline-block;
//   margin-bottom: 32px;

//   font-weight: 500;
//   font-size: 34px;
//   line-height: 1.18;
//   letter-spacing: 0.02em;
//   color: blue;
//   text-decoration: none;
//   &:hover .contacts__icon-smartphone,
//   &:focus .contacts__icon-smartphone {
//     fill: blue;
//   }

//   @media screen and (max-width: 480px) {
//     font-size: 20px;
//   }
//   @media screen and (min-width: 768px) {
//     margin-bottom: 0;
//     font-size: 12px;
//     line-height: 1.17;
//     color: blue;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: blue;
//     }
//   }
// }

.social-list {
  display: inline-flex;
  margin-top: 16px;
  padding-left: 20px;
  &__item {
    list-style: none;
    // border: 1px solid blue;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    width: 44px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: rgb(10, 129, 184);
    }
  }
  &__icon {
    fill: #1e2939;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social-list__link:hover &,
    .social-list__link:focus & {
      fill: white;
    }
  }
}

// === MOBILE NAME ===
.my-info-mobile {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .my-info-mobile {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    z-index: 0;
  }
}

.my-name-mobile {
  opacity: 1;
  pointer-events: all;
  text-align: end;
  padding-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .my-name-mobile {
    pointer-events: none;
    opacity: 0;
    z-index: 0;
  }
}
.my-profession-mobile {
  opacity: 1;
  pointer-events: all;
  text-align: end;
  width: 240px;
  padding-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  text-shadow: 2px 1px 2px rgba(255, 253, 253, 0.25), 1px 1px 2px rgba(10, 129, 184, 0.75);
  // text-shadow: 1px 1px 2px rgba(255, 251, 0, 0.5), 1px 1px 2px rgba(10, 129, 184, 0.85);
  text-transform: uppercase;
  // line-height: 55px;
  // letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .my-profession-mobile {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
  }
}

.about-me-profession-background-mobile {
  font-size: 14px;
  text-transform: none;
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .about-me-profession-background-mobile {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
  }
}

/* ==scroll-to-top== */
.scroll {
  opacity: 0.3;
  background-color: rgb(10, 129, 184);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: white;
}
.scroll:hover {
  opacity: 1;
}
.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

/* ==MODAL== */
.open-modal-btn {
  position: absolute;
  top: -3px;
  right: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  height: 30px;
  border-color: rgb(10, 129, 184);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(10, 129, 184) inset, 0 0 0 0 rgb(10, 129, 184);
  transition: all 150ms ease-in-out;
}
.open-modal-btn:focus,
.open-modal-btn:hover {
  color: #000;
  box-shadow: 0 0 10px 0 rgb(10, 129, 184) inset, 0 0 10px 4px rgb(10, 129, 184);
}
@media screen and (min-width: 768px) {
  .open-modal-btn {
    height: 40px;
  }
}

#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 200px;
  // padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 1.5rem;
  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  // align-self: flex-end;
}

#close-btn:hover {
  cursor: pointer;
  color: rgb(10, 129, 184);
}

/* modal part end */

/* animation part */
@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/* animation part end */

// IMAGES
.image-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.certificate {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  // height: 400px;
}
@media screen and (min-width: 768px) {
  .image-wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .certificate {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    // max-height: 800px;
  }
}
