<!--About Me Section-->
<div class="about-me-section">
  <h1 class="my-name-section">Yuliia Dobrova</h1>
  <h2 class="about-me-profession">Front-end Developer (React.js)</h2>
  <h3 class="main-content-title">Summary</h3>
  <p class="about-me-description">
    - 2 years of recent work experience in web application development experience.<br />
    - Have knowledge of HTML, CSS, JavaScript, React, Redux, TypeScript, NPM, REST API.<br />
    - Have hands-on experience in Agile & Scrum methodologies.<br />
    - Team player, fast learner, responsible, strive for self-development.

    <!-- I’ve been working on a position of Frontend JS Developer since February 2022.<br/>
    Due to the lack of projects recently I'm open to new job offers. 
    I'm looking for a friendly team and ready for challenging tasks.<br/>
    I have sound knowledge of HTML, CSS, JavaScript, TypeScript, React.js & its ecosystem.<br/>
    Also, I have hands-on experience in Agile & Scrum methodologies & I adore working in a team.<br/>
    I am a fast learner, responsible and I strive for self-development. -->
  </p>
</div>
