<!--About Me Section-->
<div class="about-me-section">
  <h2 class="about-me-profession">Front-End Developer</h2>
  <h1 class="my-name-section">Yulia Dobrova</h1>
  <p class="about-me-description">
    I had been working for years in design companies of Ukraine as a design engineer for water
    supply and sanitation. Graduated from the university (have a master's degree). I'd like to
    change my occupation and work in a friendly team and strive for self-development. I'm a fast
    learner. Now I'm studying in GoIT Bootcamp. I'm looking for a job as a Front-End Developer.
  </p>
</div>
