<!--Contacts Section-->
<div class="contacts-section">
  <h3 class="sidebar-section-title">Contact Information</h3>
  <div>
    <a
      class="contacts-section-link contacts__icon-location"
      href="https://goo.gl/maps/zJHXrkqWFU3F7bGk8"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg class="contacts__icon contacts__icon-location" width="15" height="15">
        <use href="./images/sprite.svg#icon-location"></use>
      </svg>
    </a>
    <a
      class="contacts-section-link contacts__icon-location"
      href="https://goo.gl/maps/zJHXrkqWFU3F7bGk8"
      target="_blank"
      rel="noreferrer noopener"
    >
      Vancouver, BC, Canada</a
    >
  </div>
  <div>
    <!-- <span class="contacts-section-type"> E:</span> -->
    <svg class="contacts__icon contacts__icon-envelope" width="15" height="15">
      <use href="./images/sprite.svg#icon-envelope"></use>
    </svg>
    <a class="contacts-section-link-email" href="mailto:yuliia.dobrova@gmail.com">
      yuliia.dobrova@gmail.com
      <!-- dobrova2009@gmail.com -->
    </a>
  </div>
  <div>
    <!-- <span class="contacts-section-type"> C:</span> -->
    <svg class="contacts__icon contacts__icon-mobile" width="15" height="15">
      <use href="./images/sprite.svg#icon-mobile"></use>
    </svg>
    <a class="contacts-section-link" href="tel:+17783253487"> +1(778)325-3487 </a>
  </div>
  <div>
    <a
      href="https://www.linkedin.com/in/yuliia-dobrova/"
      class="contacts-section-link link"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg class="contacts__icon contacts__icon-linkedin" width="15" height="15">
        <use href="./images/sprite.svg#icon-linkedin"></use>
      </svg>
    </a>
    <a
      href="https://www.linkedin.com/in/yuliia-dobrova/"
      class="contacts-section-link link"
      target="_blank"
      rel="noreferrer noopener"
    >
      www.linkedin.com/in/yuliia-dobrova
      <!-- LinkedIn Page <span class="contacts-section-underlined-link">Link</span> -->
    </a>
  </div>
  <div>
    <a
      class="contacts-section-link link"
      href="https://github.com/YuliaDobrova"
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg class="contacts__icon contacts__icon-github" width="15" height="15">
        <use href="./images/sprite.svg#icon-github"></use>
      </svg>
    </a>
    <a
      class="contacts-section-link link"
      href="https://github.com/YuliaDobrova"
      target="_blank"
      rel="noreferrer noopener"
    >
      https://github.com/YuliaDobrova
      <!-- Github Page <span class="contacts-section-underlined-link">Link</span> -->
    </a>
  </div>
</div>
