<!--My Education-->
<div class="my-education-section">
  <h3 class="main-content-title">Education</h3>
  <div>
    <h4 class="my-education-section-faculty">
      YWCA Metro Vancouver
      <!-- <span class="my-work-experience-divider"> : </span>
      <span class="my-education-section-specialization">Tech Connect Program</span> -->
    </h4>

    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span> October 2023 - November 2023
    </p>
    <p class="my-education-section-specialization">
      Tech Connect Program
      <a
        class="my-education-section-link"
        href="https://www.linkedin.com/in/yuliia-dobrova/overlay/1635548472357/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo"
        target="_blank"
        rel="noreferrer noopener"
      >
        Certificate
      </a>
    </p>
  </div>
  <div>
    <h4 class="my-education-section-faculty">GoIT Global - International ed-tech company</h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>September 2020 - October 2021
    </p>
    <p class="my-education-section-specialization">
      Full-stack Developer Course

      <a
        class="my-education-section-link"
        href="https://www.linkedin.com/in/yuliia-dobrova/overlay/1635546646723/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo"
        target="_blank"
        rel="noreferrer noopener"
      >
        Certificate
      </a>
      <!-- <span class="my-education-section-dates"> March 2021 - October 2021</span> -->
    </p>
  </div>
  <div>
    <h4 class="my-education-section-faculty">Guild of designers in construction (Kyiv, Ukraine)</h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>October 2018 - April 2019
    </p>
    <h5 class="my-education-section-specialization">Engineering and construction design</h5>
    <!-- <p>2018 - 2019 | Ukraine</p> -->
  </div>
  <div>
    <h4 class="my-education-section-faculty">
      The Faculty of Geography of National University (Kyiv, Ukraine)
    </h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>September 2005 - June 2011
    </p>

    <p class="my-education-section-specialization">
      Department of Hydrology (Master's Degree)
      <!-- <span class="my-education-section-dates"> September 2005 - June 2011</span> -->
    </p>
  </div>
</div>
