<!--My Education-->
<div class="my-education-section">
  <h3 class="main-content-title">Education</h3>
  <div>
    <h4 class="my-education-section-faculty">IT School "GoIT" : Bootcamp</h4>
    <h5 class="my-education-section-specialization">Full-Stack Developer (Front-End & Back-End)</h5>
    <p>March 2021 - October 2021 | Ukraine</p>
  </div>
  <div>
    <h4 class="my-education-section-faculty">Guild of designers in construction (VUGIP)</h4>
    <h5 class="my-education-section-specialization">
      Engineering and construction design
      <!-- in terms of noise protection -->
    </h5>
    <p>2018 - 2019 | Ukraine</p>
  </div>
  <div>
    <h4 class="my-education-section-faculty">
      The Faculty of Geography of Taras Shevchenko National University of Kyiv
    </h4>

    <h5 class="my-education-section-specialization">Hydrology and Hydro-Ecology</h5>
    <p>September 2005 - June 2011 | Ukraine</p>
  </div>
</div>
