<!--My Education-->
<div class="my-education-section">
  <div style="position: relative">
    <h3 class="main-content-title">Education</h3>
    <button id="open-btn" class="open-modal-btn">Certificates</button>
  </div>
  <div>
    <h4 class="my-education-section-faculty">
      YWCA Metro Vancouver
      <!-- <span class="my-work-experience-divider"> : </span>
      <span class="my-education-section-specialization">Tech Connect Program</span> -->
    </h4>

    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span> October 2023 - November 2023
    </p>
    <p class="my-education-section-specialization">
      <a
        class="my-education-section-link"
        style="text-decoration: none; font-weight: bold"
        href="https://www.linkedin.com/in/yuliia-dobrova/overlay/1635552108953/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo"
        target="_blank"
        rel="noreferrer noopener"
      >
        Tech Connect Program (Cohort 18)
      </a>
    </p>
  </div>
  <div>
    <h4 class="my-education-section-faculty">
      GoIT Global - International Educational Tech Company
    </h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>September 2020 - October 2021
    </p>
    <p class="my-education-section-specialization">Full-stack Developer Course</p>
  </div>
  <!-- <div>
    <h4 class="my-education-section-faculty">Guild of Designers in Construction (Kyiv, Ukraine)</h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>October 2018 - April 2019
    </p>
    <h5 class="my-education-section-specialization">Engineering and Construction Design Program</h5>
  </div> -->
  <div>
    <h4 class="my-education-section-faculty">
      The Faculty of Geography of National University (Kyiv, Ukraine)
    </h4>
    <p class="my-education-section-dates">
      <span class="my-work-experience-divider"> ◈ </span>September 2005 - June 2011
    </p>

    <p class="my-education-section-specialization">
      Department of Hydrology (Master's Degree)
      <!-- <span class="my-education-section-dates"> September 2005 - June 2011</span> -->
    </p>
  </div>
</div>
