<!--My projects Section-->
<div class="my-projects-section">
  <h3 class="main-content-title">Projects Experience</h3>

  <ul class="my-projects-list">
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://react-js-practice-app.vercel.app/"
          class="my-projects-link"
          target="_blank"
        >
          "REACT JS PRACTICE APP"
        </a>
        (My Portfolio application with lots of React features integrated in it)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, REST API, Axios, React-Router-Dom,
        react-loader-spinner, react-slick, react-animations, react-chartjs-2, react-colorful,
        @tippyjs/react, dotenv, react-transition-group, styled-components, weather-widget,
        pagination, authorization, accordion, drag'n'drop, timers, counter, todo-list, posts etc.
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://krolyk-dental-center.vercel.app/" class="my-projects-link" target="_blank">
          "DENTAL CENTER"
        </a>
        (A website for a Dental Center developed with React.js)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, React-Router-Dom, slick-carousel, i18next,
        emailjs-com, react-google-maps, react-loader-spinner, dotenv
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://www.wizwork.net/" class="my-projects-link" target="_blank"> "WIZWORK" </a>
        (A social media platform for the elder women from all over the world developed with
        TypeScript)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> TypeScript, Material-UI, Axios, Redux Toolkit,
        React-Router-Dom, React-Hook-Form, Translation, React-toastify, React-loader-spinner
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://dobrova-yulia-movie.netlify.app" class="my-projects-link" target="_blank">
          "MOVIE FINDER"
        </a>
        (An application for searching info about the movie developed with React.js)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, React-Router-Dom, Axios, Styled Components
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="http://scott-marsden.netlify.app" class="my-projects-link" target="_blank">
          "PERSONAL WEBSITE"
        </a>
        (A portfolio website for a customer on Vanilla JS)
      </span>
    </li>

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://kidslike-team2.netlify.app/" class="my-projects-link" target="_blank">
          "KIDSLIKE"
        </a>
        (An application for parents and their children to make useful habits developed with React,
        Node.js) -->
    <!-- <br /> -->
    <!-- <span class="my-projects-bracket">[</span> Axios, React Router, React.lazy, Redux Toolkit,
        JSON Web Tokens
        <span class="my-projects-bracket">]</span> -->
    <!-- </span>
    </li> -->

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://book-reading-client.vercel.app/" class="my-projects-link" target="_blank">
          "BOOKS READING"
        </a>
        (An application that improves reading habit developed with React, Node.js) -->
    <!-- <br /> -->
    <!-- <span class="my-projects-bracket">[</span> React, Redux, React Router, Styled Components,
        Formik, i18next, Slick Slider, Node.js, Express, Joi, MongoDB
        <span class="my-projects-bracket">]</span> -->
    <!-- </span>
    </li> -->

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://yuliadobrova.github.io/team-project-js/"
          class="my-projects-link"
          target="_blank"
        >
          "EVENT BOOSTER"
        </a>
        (An Application created with Vanilla JS for searching an event)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> HTML, SASS, JS, Handlebars, REST API, Webpack
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://yuliadobrova.github.io/team-project-html-css/"
          class="my-projects-link"
          target="_blank"
        >
          "HOMEMADE ICECREAM"
        </a>
        (A webpage with a responsive layout for IceCream Customer created with Vanilla JS)
      </span>
    </li>

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        "PERSONAL PHONEBOOK" (An Application to save phonenumbers or notes.)
        <a href="https://dobro-phonebook.netlify.app" class="my-projects-link" target="_blank">
          Link</a
        >
        <br />
        <span class="my-projects-bracket">[</span> React, Redux, Axios, React Router
        <span class="my-projects-bracket">]</span>
      </span>
    </li> -->

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        MEMORIA PRESS
        <br />
        <span class="my-projects-bracket">[</span> TypeScript, Material-UI, React-Hook-Form,
        React-Router-Dom
        <span class="my-projects-bracket">]</span>
        <p>Frontend development of the Application for Data of the students & their analytics.</p>
      </span>
    </li> -->

    <li class="my-projects-item">
      <span class="my-projects-text">Games on VanillaJS:</span>
      <span class="my-projects-text">
        <a href="https://fortune-magic-ball.netlify.app/" class="my-projects-link" target="_blank">
          "MAGIC BALL"
        </a> </span
      >,
      <span class="my-projects-text">
        <a href="https://aim-game-circles.netlify.app/" class="my-projects-link" target="_blank">
          "AIM TRAINING"
        </a>
      </span>
      ,
      <span class="my-projects-text">
        <a href="https://magic-boards.netlify.app/" class="my-projects-link" target="_blank">
          "MAGIC BOARDS"
        </a>
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">Web Pages:</span>

      <span class="my-projects-text">
        <a href="https://star-wars-lord.netlify.app/" class="my-projects-link" target="_blank">
          "STAR WARS"
        </a> </span
      >,
      <span class="my-projects-text">
        <a
          href="https://mui-react-practice-app.vercel.app/"
          class="my-projects-link"
          target="_blank"
        >
          "MUI SHOP"
        </a>
      </span>
      ,
      <span class="my-projects-text">
        <a
          href="https://rick-and-morty-three-delta.vercel.app/"
          class="my-projects-link"
          target="_blank"
        >
          "RICK AND MORTY"
        </a>
      </span>

      <!-- ,
      <span class="my-projects-text">
        <a
          href="https://test-drive-banderogus-dobrova.netlify.app/"
          class="my-projects-link"
          target="_blank"
        >
          "BANDEROGUS"
        </a>
      </span> -->
    </li>
  </ul>
</div>
