<!--My projects Section-->
<div class="my-projects-section">
  <h3 class="main-content-title">Projects Experience</h3>

  <ul class="my-projects-list">
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://react-practice-app-eight.vercel.app/"
          class="my-projects-link"
          target="_blank"
        >
          "REACT JS PRACTICE APP"
        </a>
        (An Application created to practice and improve React skills)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, REST API, Axios, React-Router-Dom,
        react-loader-spinner, react-slick, react-animations, react-chartjs-2, react-colorful,
        @tippyjs/react, dotenv, react-transition-group, styled-components, weather-widget,
        pagination, authorization, accordion, drag'n'drop, timers, counter, todo-list, posts etc.
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://dental-clinic-three.vercel.app/" class="my-projects-link" target="_blank">
          "DENTAL CENTER"
        </a>
        (A website for a Dental Center developed with React)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, React-Router-Dom, slick-carousel, i18next,
        emailjs-com, react-google-maps, react-loader-spinner, dotenv
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://www.wizwork.net/" class="my-projects-link" target="_blank"> "WIZWORK" </a>
        (A network for the elder women from all over the world developed with React)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> TypeScript, Material-UI, Axios, Redux Toolkit,
        React-Router-Dom, React-Hook-Form, Translation, React-toastify, React-loader-spinner
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://dobrova-yulia-movie.netlify.app" class="my-projects-link" target="_blank">
          "MOVIE FINDER"
        </a>
        (An Application for searching info about the movie)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, React-Router-Dom, Axios, Styled Components
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        "HOMEMADE ICECREAM" (A website with a responsive layout.)
        <a
          href="https://yuliadobrova.github.io/team-project-html-css/"
          class="my-projects-link"
          target="_blank"
        >
          Link</a
        >
        <br />
        <span class="my-projects-bracket">[</span> HTML, SASS, JS, Parcel
        <span class="my-projects-bracket">]</span>
      </span>
    </li> -->

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://kidslike-team2.netlify.app/" class="my-projects-link" target="_blank">
          "KIDSLIKE"
        </a>
        (An Application for parents and their children to make useful habits)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> Axios, React Router, React.lazy, Redux Toolkit,
        JSON Web Tokens
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://book-reading-client.vercel.app/" class="my-projects-link" target="_blank">
          "BOOKS READING"
        </a>
        (An Application that improves reading habit)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> React, Redux, React Router, Styled Components,
        Formik, i18next, Slick Slider, Node.js, Express, Joi, MongoDB
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://yuliadobrova.github.io/team-project-js/"
          class="my-projects-link"
          target="_blank"
        >
          "EVENT BOOSTER"
        </a>
        (An Application created with Vanilla JS for searching an event)
        <!-- <br /> -->
        <!-- <span class="my-projects-bracket">[</span> HTML, SASS, JS, Handlebars, REST API, Webpack
        <span class="my-projects-bracket">]</span> -->
      </span>
    </li>

    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        "PERSONAL PHONEBOOK" (An Application to save phonenumbers or notes.)
        <a href="https://dobro-phonebook.netlify.app" class="my-projects-link" target="_blank">
          Link</a
        >
        <br />
        <span class="my-projects-bracket">[</span> React, Redux, Axios, React Router
        <span class="my-projects-bracket">]</span>
      </span>
    </li> -->
    <!-- <li class="my-projects-item">
      <span class="my-projects-text">
        MEMORIA PRESS
        <br />
        <span class="my-projects-bracket">[</span> TypeScript, Material-UI, React-Hook-Form,
        React-Router-Dom
        <span class="my-projects-bracket">]</span>
        <p>Frontend development of the Application for Data of the students & their analytics.</p>
      </span>
    </li> -->
  </ul>
</div>
