<!--My projects Section-->
<div class="my-projects-section">
  <h3 class="main-content-title">Projects</h3>

  <ol class="my-projects-list">
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://yuliadobrova.github.io/goit-markup-hw-08/" class="my-projects-link">
          https://yuliadobrova.github.io/goit-markup-hw-08/</a
        >
        .......................
        <span class="my-projects-bracket">[</span> HTML5, CSS3
        <span class="my-projects-bracket">]</span>
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://yuliadobrova.github.io/team-project-html-css/" class="my-projects-link">
          https://yuliadobrova.github.io/team-project-html-css/</a
        >
        ..................
        <span class="my-projects-bracket">[</span> HTML5, CSS3
        <span class="my-projects-bracket">]</span>
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a
          href="https://yuliadobrova.github.io/goit-js-hw-13-image-finder/"
          class="my-projects-link"
        >
          https://yuliadobrova.github.io/goit-js-hw-13-image-finder/</a
        >
        ...........
        <span class="my-projects-bracket">[</span> JavaScript
        <span class="my-projects-bracket">]</span>
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://yuliadobrova.github.io/team-project-js/" class="my-projects-link">
          https://yuliadobrova.github.io/team-project-js/</a
        >
        .............................
        <span class="my-projects-bracket">[</span> JavaScript
        <span class="my-projects-bracket">]</span>
      </span>
    </li>
    <li class="my-projects-item">
      <span class="my-projects-text">
        <a href="https://cryptohub.goit.global/" class="my-projects-link">
          https://cryptohub.goit.global/</a
        >
        .......................................................
        <span class="my-projects-bracket">[</span> React.js, Node.js
        <span class="my-projects-bracket">]</span>
      </span>
    </li>
  </ol>
</div>
