<!--My Work Experience-->
<div class="my-work-experience-section">
  <h3 class="main-content-title">Work Experience</h3>

  <!--Work now-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Frontend Developer
      <span class="my-work-experience-company">TensionX Company (SAAS Insiders)</span>
    </h4>
    <p class="my-work-experience-period">
      February 2022 - now
      <span class="my-work-experience-divider">|</span> London, GB (Remotely)
    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Frontend Developer creating Mobile & Web Apps with React.js (Creation of markup and styles according to the design, authorization, forms, data exchange with the backend, comment block and their display in the application in real time, text translation for the entire application, user functionality (search, sorting, filtering, deleting), etc.)
        <!-- <a href="https://dental-clinic-three.vercel.app/" class="my-projects-link" target="_blank">
          Link</a
        > -->
      </li>
    </ul>
  </div>
  <!--Work Freelance-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Frontend Developer
      <span class="my-work-experience-company">Freelance</span>
    </h4>
    <p class="my-work-experience-period">
      November 2021 - January 2022
      <span class="my-work-experience-divider">|</span> Ukraine
    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Developed a website for a Dental Center with React.js (communication with the customer, all design decisions, development, hosting and other tasks)
        <!-- <a href="https://dental-clinic-three.vercel.app/" class="my-projects-link" target="_blank"> -->
        <a href="https://dental-clinic-knpwvhv8h-yuliadobrova.vercel.app/" class="my-projects-link" target="_blank">
          Link</a
        >
      </li>
    </ul>
  </div>
    <!--Company 1-->
    <div class="my-work-experience-company-block">
      <h4 class="my-work-experience-position">
        Project Manager
        <span class="my-work-experience-company">"Engineering Company "Avtomagistral" LLC</span>
      </h4>
      <p class="my-work-experience-period">
        March 2019 - February 2021
        <span class="my-work-experience-divider">|</span> Ukraine
      </p>

      <ul class="my-work-experience-duties">
        <li class="my-work-experience-duty">Team Leader of the Project Department. Project management in all spheres of infrastructure building: design of roads, bridges,
          park areas, networks.</li>
          <!-- <li class="my-work-experience-duty">
            Design of infrastructure building: networks, park areas. Design of water protection zones.
          </li> -->
        <!-- <li class="my-work-experience-duty">
          Time-managment and agile project management that emphasize daily communication and the
          flexible reassessment of plans that are carried out in short, iterative phases of work.
        </li> -->
      </ul>
    </div>

    <!--Company 2-->
    <!-- <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Design Engineer
      <span class="my-work-experience-company">"Project Company "Arcon" LLC</span>
    </h4>
    <p class="my-work-experience-period">
      September 2018 - March 2019
      <span class="my-work-experience-divider">|</span> Ukraine
    </p>

    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Design of infrastructure building: networks, park areas.
      </li>
      <li class="my-work-experience-duty">Team Leader of the Project Department.</li>
    </ul>
  </div> -->

    <!--Company 3-->
    <!-- <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Design Engineer <span class="my-work-experience-company">"Asgard" LLC </span>
    </h4>
    <p class="my-work-experience-period">
      July 2017 - September 2018 <span class="my-work-experience-divider">|</span> Ukraine
    </p>

    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">Design of engineering networks.</li>
      <li class="my-work-experience-duty">
        Construction and reconstruction of water supply networks.
      </li>
    </ul>
  </div> -->

    <!--Company 4-->
    <!-- <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Design Engineer <span class="my-work-experience-company"> "Ukrvodproekt" JSC </span>
    </h4>
    <p class="my-work-experience-period">
      September 2011 - June 2017 <span class="my-work-experience-divider">|</span> Ukraine
    </p>

    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Hydraulic engineering tasks, design of water protection zones.
      </li>
      <li class="my-work-experience-duty">Water mater management & water supply engineer.</li>
    </ul>
  </div> -->
  </div>
</div>
