<!--My Work Experience-->
<div class="my-work-experience-section">
  <h3 class="main-content-title">Work Experience</h3>

  <!--Work Freelance During Relocation-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Front-end Developer
      <span class="my-work-experience-period"> in </span>
      <span class="my-work-experience-company">"Ukrradioprom" LLC</span>
    </h4>
    <p class="my-work-experience-period">
      April 2023 - October 2023
      <span class="my-work-experience-divider"> ◈ </span> Freelance
    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
      Developed a user-friendly web application to efficiently handle clients product database that was previously managed with Excel. That resulted in a significant 20% increase in online sales within a period of 6 months.       
     </li>
    </ul>
  </div>

  <!--Last TeamWork Full-time Experience-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Front-end Developer
      <span class="my-work-experience-period"> in </span>
      <span class="my-work-experience-company">
        SaaS Insiders
        <!-- <a href="https://jobs.dou.ua/companies/tensionx/photos/"  -->
        <a href="https://www.linkedin.com/in/yuliia-dobrova/overlay/1635549149301/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo" 
        target="_blank"
        rel="noreferrer noopener" style="color:  #0a81b8">(formerly "TensionX" Web Tech Company) </a>
      </span> 
    </h4>
    <p class="my-work-experience-period">
      February 2022 - March 2023
      <span class="my-work-experience-divider"> ◈ </span> Full-Time 
    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Contributed to collaborative Git practices while working with a team of up to 7 developers, successfully delivering to the customer a social media international platform for elder women within challenging deadlines of 3 months.
        <a href="https://www.wizwork.net/" class="my-projects-link" target="_blank"> "WIZWORK"</a>
      </li>
      <li class="my-work-experience-duty">
        Created markup and styles according to the design for Mobile & Web Application,
        developed authorization forms with validation, processed data exchange with the backend, established block for the comments and their display in real time (WebSocket), implemented text translation for the entire application, improved user functionality.
      </li>
      <li class="my-work-experience-duty">
        Developed and improved user functionality in an existing School Management System application by creating new blocks. 
        <a href="https://www.behance.net/gallery/133785207/Memoria-Press-School-Management-System" class="my-projects-link" target="_blank"> "MEMORIA PRESS"</a>
      </li>
    </ul>
  </div>

  <!--Work Freelance First Experience-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Front-End Developer
      <span class="my-work-experience-period"> in </span>
      <span class="my-work-experience-company">
        Dental Center of Dr. Krolyk
      </span> 
    </h4>
    <p class="my-work-experience-period">
      November 2021 - January 2022
      <span class="my-work-experience-divider"> ◈ </span> Freelance
    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Developed a full-fledged web application for a Dental Center (backlog, design, development, hosting).
        <!-- <a href="https://dental-clinic-three.vercel.app/" https://www.stomatcenter.com.ua/ class="my-projects-link" target="_blank"> -->
        <a href="https://dental-center-beige.vercel.app/" class="my-projects-link" target="_blank">
          "DENTAL CENTER"</a
        >
      </li>
    </ul>
  </div>

    <!--Student Work in GoIT-->
  <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Full-stack Developer
      <span class="my-work-experience-period"> in </span>
      <span class="my-work-experience-company">
        <a href="https://www.linkedin.com/in/yuliia-dobrova/overlay/1635549480604/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo" 
        target="_blank"
        rel="noreferrer noopener" style="color:  #0a81b8"> 
        IT School "GoIT"
      </a>
    </span> 
  </h4>
  <p class="my-work-experience-period">
    September 2020 - October 2021
    <span class="my-work-experience-divider"> ◈ </span> Full-Time
  </p>
  <ul class="my-work-experience-duties">
    <li class="my-work-experience-duty">
      Designed and developed web applications, improved JS skills while working in different teams. <br/>   
      <a href="https://dobrova-yulia-movie.netlify.app" class="my-projects-link" target="_blank">
        "MOVIE FINDER"</a
        > ,
        <a href="https://yuliadobrova.github.io/team-project-js/" class="my-projects-link" target="_blank">
          "EVENT BOOSTER"</a
          >
           ,
          <a href="https://yuliadobrova.github.io/team-project-html-css/" class="my-projects-link" target="_blank">
            "ICE CREAM"</a
            
            > 
          <!--  ,
          <a href="https://book-reading-client.vercel.app/" class="my-projects-link" target="_blank">
            "BOOKS READING"</a
            
            > ,
            <a href="https://kidslike-team2.netlify.app/" class="my-projects-link" target="_blank">
              "KIDSLIKE"</a
              > -->
            </li>
          </ul>
        </div>
        
        <!--Civil Engineering Company 1-->
        <div class="my-work-experience-company-block">
          <h4 class="my-work-experience-position">
            Head of the Project Department
            <span class="my-work-experience-period"> in </span>
            <span class="my-work-experience-company">
            <a href="https://www.linkedin.com/in/yuliia-dobrova/details/featured/1635552112570/single-media-viewer/?profileId=ACoAADawKs4Br_L9dRuPbu8dCFQPS4vWwX8DeIo" 
            target="_blank"
            rel="noreferrer noopener" style="color:  #0a81b8"> 
          
            Engineering Company "Avtomagistral" LLC
          </a>
        </span>  
        </h4>
          <p class="my-work-experience-period">
        September 2018 - February 2021
        <span class="my-work-experience-divider"> ◈ </span> Full-Time
      </p>

      <ul class="my-work-experience-duties">
        <li class="my-work-experience-duty">
          Directed a team of 30 diverse engineers: geodetic engineers, design engineers, accountant engineers.       
        </li>
        <li class="my-work-experience-duty">
          Accomplished the successful completion of 50 projects within a six-month period.     
        </li>
        <li class="my-work-experience-duty">
          Holding the title of Civil Design Engineer with the certificate (license), created drawings in AutoCAD, was engaged in project approvals, defended my decisions in the state examination, supervised the author's projects during construction.     
        </li>
        <li class="my-work-experience-duty">Coordinated infrastructure building projects for new design or reconstruction (roads, bridges, park areas, networks).
        </li>
        <li class="my-work-experience-duty">
          Practiced time management and applied agile project management, focusing on daily communication and the flexible reassessment of plans through short, iterative work phases.      
         </li>
      </ul>
    </div>

    <!--Civil Engineering Company 2-->
    <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Civil Design Engineer <span class="my-work-experience-company">Project Company "Asgard" LLC </span>
    </h4>
    <p class="my-work-experience-period">
      July 2017 - September 2018         <span class="my-work-experience-divider"> ◈ </span> Full-Time

    </p>
    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty"> Managed water-based projects, created drainage systems, designed water supply systems. </li>
      <li class="my-work-experience-duty">
        Performed hydrotechnical tasks, designed water protection zones.      </li>
      <li class="my-work-experience-duty">
        After promotion to the role of the Leader of the Water Supply and Drainage Department, I managed a team of 4 engineers.     
      </li>
    </ul>
  </div>

      <!--Civil Engineering Company 3-->
    <div class="my-work-experience-company-block">
    <h4 class="my-work-experience-position">
      Civil Design Engineer <span class="my-work-experience-company"> "Ukrvodproekt" JSC </span>
    </h4>
    <p class="my-work-experience-period">
      September 2011 - June 2017  <span class="my-work-experience-divider"> ◈ </span> Full-Time
    </p>

    <ul class="my-work-experience-duties">
      <li class="my-work-experience-duty">
        Created technical drawings, systems of water supply and drainage from the buildings.
      </li>
      <li class="my-work-experience-duty">
        Completed hydraulic engineering tasks, maintained technical documentation.
      </li>
    </ul>
  </div>
  </div>
</div>
