<!--Language Section-->
<div class="tech-skills-section">
  <h3 class="sidebar-section-title">Language Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> English - Upper-Intermediate </span>
    </li>
    <a
      class="contacts-section-link contacts__icon-location"
      href="https://www.efset.org/cert/3TQduG"
      target="_blank"
      rel="noreferrer noopener"
    >
      EF SET Certificate (link)
    </a>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> French - Intermediate </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Ukrainian - Native </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Russian - Fluently </span>
    </li>
  </ul>
</div>
<!--Tech Skills Section-->
<div class="tech-skills-section">
  <h3 class="sidebar-section-title">Tech Skills</h3>
  <ul class="tech-skills-list">
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> HTML5 </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> CSS3</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Preprocessor SASS </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> JavaScript </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> TypeScript </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> NPM, Yarn </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> REST API </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React.js </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React-Router-Dom</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Redux Toolkit</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Axios </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Material-UI</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> WebSocket</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React-Hook-Form </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Webpack, Parcel </span>
    </li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Swagger</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Postman</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Node.js</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Express</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> MongoDB</span></li>
    <!-- <li class="tech-skills-item"><span class="tech-skills-item-text"> Joi</span></li> -->
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> GIT </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Figma </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Responsive / Adaptive design </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Click-Up / Slack </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Scrum / Agile / GTD</span>
    </li>
  </ul>
</div>

<!--Soft Skills Section-->
<div class="soft-skills-section">
  <h3 class="sidebar-section-title">Soft Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Teamwork & Easy communication </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Responsibility & Punctuality </span>
    </li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Leadership </span></li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Creativity </span></li>
  </ul>
</div>

<!-- <h3 class="sidebar-section-title">ACCOMPLISHMENTS</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> </span>
      <a
        class="contacts-section-link contacts__icon-location"
        href="https://ibb.co/MGvqZc8"
        target="_blank"
        rel="noreferrer noopener"
      >
        Full Stack Developer Certificate
      </a>
    </li>
  </ul> -->
