<!--Tech Skills Section-->
<div class="tech-skills-section">
  <h3 class="sidebar-section-title">Tech Skills</h3>

  <div class="skills-symbols">
    <img
      alt="Visual Studio Code"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png"
      style="max-width: 100%"
    />
    <img
      alt="HTML5"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png"
      style="max-width: 100%"
    />
    <img
      alt="CSS3"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png"
      style="max-width: 100%"
    />
    <img
      alt="Sass"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/sass/sass.png"
      style="max-width: 100%"
    />
    <img
      alt="JavaScript"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png"
      style="max-width: 100%"
    />
    <img
      alt="TypeScript"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/typescript/typescript.png"
      style="max-width: 100%"
    />
    <img
      alt="Material-UI"
      width="32px"
      src="https://cdn.worldvectorlogo.com/logos/material-ui-1.svg"
      style="max-width: 100%"
    />
    <img
      alt="React"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png"
      style="max-width: 100%"
    />
    <img
      alt="Redux"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/redux/redux.png"
      style="max-width: 100%"
    />
    <img
      alt="Git"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png"
      style="max-width: 100%"
    />
    <img
      alt="GitHub"
      width="32px"
      src="https://avatars.slack-edge.com/2020-11-25/1527503386626_319578f21381f9641cd8_512.png"
      style="max-width: 100%"
    />
    <img
      alt="Webpack"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/webpack/webpack.png"
    />
    <img
      alt="Node.js"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png"
    />
    <img
      alt="MongoDB"
      width="32px"
      src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mongodb/mongodb.png"
    />
    <img alt="Postman" width="32px" src="https://cdn.coursehunter.net/category/postman.png" />
  </div>

  <ul class="tech-skills-list">
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> HTML5 </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> CSS3</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Flexbox, Grid </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Preprocessor SASS (SCSS) </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Partials </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> JavaScript </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> TypeScript </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Package Managers (NPM, Yarn) </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> JS Bundlers (Parcel, Webpack) </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> REST API </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React-Router-Dom</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React-Hook-Form </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Redux Toolkit</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Axios </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> WebSocket</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Material-UI</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Styled-components </span>
    </li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Swagger</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Postman</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Node.js</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Express</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> MongoDB</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Joi</span></li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> GitHub </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Collaborative Development </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Deployment (Vercel, Netlify, Heroku)</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Visual Studio Code </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Chrome DevTools, React DevTools </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Dev. environments (CodeSandbox, Replit) </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> PM Tools (Click-Up, Jira) </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Slack </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Figma </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Responsive / Adaptive design </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Scrum </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Agile </span>
    </li>
  </ul>
</div>

<!--Language Section-->
<div class="language-skills-section">
  <h3 class="sidebar-section-title">Language Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item">
      <span class="soft-skills-item-text"> English - Fluently </span>
    </li>
    <!-- <a
      class="contacts-section-link contacts__icon-location"
      href="https://www.efset.org/cert/3TQduG"
      target="_blank"
      rel="noreferrer noopener"
    >
      EF SET Certificate (link)
    </a> -->
    <li class="soft-skills-item">
      <span class="soft-skills-item-text"> Ukrainian - Fluently </span>
    </li>
    <li class="soft-skills-item">
      <span class="soft-skills-item-text"> Russian - Fluently </span>
    </li>
    <li class="soft-skills-item">
      <span class="soft-skills-item-text"> French - Intermediate </span>
    </li>
  </ul>
</div>

<!--Soft Skills Section-->
<div class="soft-skills-section">
  <h3 class="sidebar-section-title">Soft Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Responsibility </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Curiosity </span>
    </li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Creativity </span></li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Flexebility </span></li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Leadership </span></li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Easy communication </span>
    </li>
  </ul>
</div>
