<!--Tech Skills Section-->
<div class="tech-skills-section">
  <h3 class="sidebar-section-title">Tech Skills</h3>
  <ul class="tech-skills-list">
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> HTML5 / CSS / SASS </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Responsive / Adaptive design </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> GIT </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Webpack, Parcel </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> JavaScript </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> NPM, Yarn </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> REST API </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React.js </span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> React-Router-Dom</span>
    </li>
    <li class="tech-skills-item">
      <span class="tech-skills-item-text"> Redux</span>
    </li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Postman</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Node.js</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> Express</span></li>
    <li class="tech-skills-item"><span class="tech-skills-item-text"> MongoDB</span></li>
    <!-- <li class="tech-skills-item"><span class="tech-skills-item-text"> Joi</span></li> -->
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Scrum / Agile / GTD</span>
    </li>
  </ul>
</div>

<!--Soft Skills Section-->
<div class="soft-skills-section">
  <h3 class="sidebar-section-title">Soft Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Teamwork </span></li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Easy communication </span>
    </li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Leadership </span></li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Responsibility </span></li>
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Creativity </span></li>
  </ul>
</div>

<!--Language Section-->
<div class="soft-skills-section">
  <h3 class="sidebar-section-title">Language Skills</h3>
  <ul class="soft-skills-list">
    <li class="soft-skills-item"><span class="tech-skills-item-text"> Russian - Native </span></li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> Ukrainian - Native </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> English - Intermediate </span>
    </li>
    <li class="soft-skills-item">
      <span class="tech-skills-item-text"> French - Pre-Intermediate </span>
    </li>
  </ul>
</div>
